:root {
    --ldp-theme: #00b9f2;
    --ms-theme: #0078d7;

    --webchat-theme: var(--ms-theme);
}

/* 'Open' icon */
.webchat-open-container {
    position: fixed; 
    font-size: 60px;   
    bottom: 20px; 
    right: 20px; 
    z-index: 1000; 
    cursor: pointer;
    background-color: var(--webchat-theme);
    background-color: #0078d7; /* for IE... dumb */
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,.2);
}

.webchat-open-icon {
    color: white;
    height: 30px;
    width: 30px;
    position: relative;
    left: 15px;
    bottom: 10px;
}

/* iFrame */
.webchatFrame, .webchat-container {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 370px;
    max-height: 590px;
    height: calc(100vh - 75px);
    border-radius: 10px;
    overflow: hidden;
    -webkit-transition: max-height .2s,width .2s,height .2s,bottom .2s,right .2s;
    transition: max-height .2s,width .2s,height .2s,bottom .2s,right .2s;
    -webkit-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 0 7px 1px #ababab;
    box-shadow: 0 0 7px 1px #ababab;
}

/* Overlayed 'close' header */
.webchat-title-bar {
    position: fixed;
    height: 38px;
    min-height: 38px;
    width: 370px;   
    cursor: pointer;
    z-index: 1100;
}

@media only screen and (max-width: 600px) {
    .webchatFrame, .webchat-container {
        position: fixed;
        bottom: 0;
        right: 0;
        max-height: 100vh;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}

/* 'Close' icon */
.webchat-close-icon {
    color: white;
    height: 20px;
    width: 20px;
    position: relative;
    top: 0;
    float: right;
    padding: 7px;
}